# Disable index view
Options -MultiViews -Indexes

# Hide a specific file
<Files .env>
Order allow,deny
Deny from all
</Files>

RewriteEngine On
#enable this to route to public folder
#RewriteRule ^(.*)$ public/?$1 [L]

RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 